@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.u-mensaje {
    &--error {
        color: red;
    }
    &--exito {
        color: green;
    }
    &--alerta {
        color: yellow;
    }
}