@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-boton {
    padding: 0.5rem 2rem;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 0.8em;
    transition: all 0.8s ease;
    background-color: map-get(v.$colores, color-morado);
    color: map-get(v.$colores, color-secundario);
    &:hover {
        background-color: map-get(v.$colores, color-morado-transp);
    }
    @include m.telefono-xl {
        font-size: 1em;
    }
}