@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-mensaje {
    transition: transform 1s ease;
    &__contenedor {
        width: auto;
        border: 1px solid map-get(v.$colores, color-gris);
        border-radius: 10px;
        background-color: map-get(v.$colores, color-secundario);
        @include m.position (fixed, 5rem, -18rem, null, null);
        z-index: 250;
        &--mod {
            right: 2rem;
        }
        @include m.telefono-xl {
            
        }
        @include m.tablet {
            width: 30%;
        }
        @include m.tablet {
            width: 20%;
        }
    }
    &__p {
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    &__p:first-child {
        background-color: map-get(v.$colores, color-rojo);
        border-radius: 10px 10px 0 0;
    }
}