@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-mensaje {
    @include m.position (fixed, 5rem, 2rem, null, null);
    z-index: 250;
    &__contenedor {
        border: 1px solid map-get(v.$colores, color-primario);
        border-radius: 10px;
        background-color: map-get(v.$colores, color-secundario);
        transition: all 0.7s ease;
        @include m.position (relative, 5rem, -18rem, null, null);
        visibility: hidden;
        pointer-events: none;
        width: 9.375rem;
        height: auto;
        &--mod {
            right: 2rem;
            visibility: visible;
            pointer-events: unset;
        }
        @include m.tablet {
            width: 15.625rem;
        }
    }
    &__p {
        background-color: map-get(v.$colores, color-morado-transp);
        border-radius: 10px 10px 0 0;
        padding: 0.5rem;
        font-size: 0.8em;
        @include m.tablet {
            padding: 1rem;
            font-size: 1em;
        }
    }
    &__p-creada {
        border-radius: 0 0 10px 10px;
        font-size: 0.8em;
        padding: 0.5rem;
        background-color: map-get(v.$colores, color-secundario);
        @include m.tablet {
            padding: 1rem;
            font-size: 1em;
        }
    }
}